.game-topics-page {

    .top-bar {
        padding: 15px 0 15px 0;

        .goback {
        }

        .category {
            font-size: 24px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}
