
.theme_main_background {
    background-color: #EAF1F3;
}
.theme_deepblack_background{
    background-color:#373A3C;
}
.theme_secondary_card_background{
    background-color:#F9FCFD;
}
.theme_card_background {
    background-color: #FFFFFF;
}
.theme_card_background_secondary{
    background-color: #8394A0;
}

.theme_background_line {
    border-top: 1px solid #E2EBEF;
}
.theme_background_line_all{
    border:1px solid #E2EBEF;
}
.theme_background_line_bottom {
    border-bottom: 1px solid #E2EBEF;
}

.theme_main_text {
    color: #373A3C;
}

.theme_secondary_text {
    color: #8394A0;
}
.theme_secondary_background{
    background-color: #8394A0;
}
.theme_titlebar_text {
    color: #FFFFFF
}

.theme_titlebar_background {
    background-color: #00B9FF;
}

.theme_highlighted_item {
    color: #00B9FF
}

.theme_panel_influencer_rank {
    background-color: #F5A623;
}

.theme_panel_collections {
    background-color: #40C3C9;
}

.theme_panel_photos {
    background-color: #F0A2A5;
}

.theme_panel_videos{
    background-color: #7FCAA6;
}

.theme_panel_rising{
    background-color: #E66258;
}

.theme_panel_poll {
    background-color: #9489BE;
}
.theme_panel_videos{
    background-color:#7FCAA6;
}
.theme_hint_text{
    color:#B1BFCD;
}
