.user-forgetpwd-page {
    .forgetpwd-title{
        text-align: center;
        padding:15px 0;
        img{
            width:15%;
        }
    }
    .forgetpwd-bg{
        position: relative;
        min-height: 800px;
        overflow: hidden;
        .forgetpwd-block{
            position: absolute;
            top:30%;
            left:50%;
            transform:translateX(-50%) translateY(-30%);
            max-width:600px;
            min-width:300px;
            text-align: center;
            div{
                width: 100%;
                margin: 12px 0;
            }
            .forgetpwd{
                font-size: 32px;
            }
            .slogan{
                font-size: 18px;
            }
        }
    }
}
